@font-face {
	font-family: "Quicksand";
	src: url("/assets/font/Quicksand-VariableFont_wght.ttf") format("truetype");
}
.img1 {
	width: 15%;
    margin-left: 33%;
}
.Sel{
    margin-left: 53%;
    margin-top: -10%;
}
.gambar2 {
    margin-top: 4%;
	width: 50%;
   height: 40%;
}
.deskripsi{
    margin-left: 53%;
    margin-top: -33%;
}
.bahan{
    margin-left: 53%;
}
.jumlah{
    margin-left: 53%;
}
.harga{
    margin-left: 53%;
}
.plus{
    margin-left: 53%;
    background:deepskyblue;
    width: 10%;
    border-radius:4px;
}
.minus{
    background:deepskyblue;
    width: 10%;
    border-radius:4px;
}

.footer{
	margin-top: 3%;
    text-align: center;
}
.button{
    display: flex;
    margin: 10px au;
}
.makanan{
    margin-left: 8%;
    border-radius: 20%;
    background: gray;
    width: 20%;
    text-align: center;
}
hr{
    margin-top: 2%;
    background:tomato;
}
.button2{
	background-color:tomato;
	width: 70%;
	padding: 3%;
	border-radius: 20%;
	margin-left: 15%;
    text-align: center;
    color:aliceblue;
    font-size: 17px;
}