@font-face {
	font-family: "Quicksand";
	src: url("/assets/font/Quicksand-VariableFont_wght.ttf") format("truetype");
}
.img1 {
	width: 10%;
    margin-left: 35%;
}
.Sel{
    margin-left: 50%;
    margin-top: -7%;
}
.gambar2 {
    margin-top: 4%;
	width: 50%;
   height: 40%;
}
.deskripsi{
    margin-left: 53%;
    margin-top: -33%;
}
.bahan{
    margin-left: 53%;
}
.jumlah{
    margin-left: 53%;
}
.harga{
    margin-left: 53%;
}
.plus{
    margin-left: 53%;
    background:deepskyblue;
    width: 10%;
    border-radius:4px;
}
.minus{
    margin-top: -8%;
    margin-left: 73%;
    background:deepskyblue;
    width: 10%;
    border-radius:4px;
}

.footer{
	margin-top: 15%;
    text-align: center;
}

