.img3 {
	width: 15%;
    margin-left: 23%;
}
.Pesanda{
    margin-left: 43%;
    margin-top: -10%;
}
hr{
    background:turquoise;
}
.button2{
	background-color:tomato;
	width: 70%;
	padding: 3%;
	border-radius: 20%;
	margin-left: 15%;
    text-align: center;
    color:aliceblue;
    font-size: 17px;
}