@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* GENERAL SYTLE */
*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

button{
  border: none;
  background: none;
}

/* WEBSITE THEME */
body{
  background: #ffffff;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

body{
  --main-color-1: #A0C49D;
  --main-color-2: #C4D7B2;
  --main-color-3: #E1ECC8;
  --main-color-4: #F7FFE5;
}

/* REUSABLE CSS CODE */
.container{
  width: 100%;
  max-width: 360px;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.flex{
  display: flex;
}

.jc-sb{
  justify-content: space-between;
}

.ai-center{
  align-items: center;
}

/* NAVBAR STYLING */
nav{
  margin-top: 1rem;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  background: var(--main-color-2);
}

nav h3{
  color: white;
}

nav i{
  font-size: 1.5rem;
  color: white;
}

.center{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* LOGIN STYLING */
.login-top{
  text-align: center;
}

.login-top img{
  width: 60%;
  background: var(--main-color-2);
  border-radius: 80px 10px 80px 10px;
  margin: 2rem 0;
  padding: 1rem;
}

.login-top h1{
  font-size: 1rem;
  width: 70%;
  margin: 0 auto 1rem auto;
}

.login-form{
  width: 100%;
  padding: 0 1rem;
}

.login-form input[type='text'],
.login-form input[type='password']{
  width: 100%;
  height: 40px;
  padding: 0 1.5rem;
  border: none;
  margin: 10px 0;
  border-radius: 8px;
  background: var(--main-color-4);
}

.login-form label{
  font-size: .8rem;
  font-weight: 600;
}

.login-form input[type='submit']{
  width: 100%;
  border: none;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  background: var(--main-color-1);
  font-family: 'Poppins', sans-serif;
  transition: 200ms all cubic-bezier(0.075, 0.82, 0.165, 1);
}

input[type='submit']:hover{
  transform: scale(.95);
}

/* MENU STYLING */
.menu-wrap{
  display: grid;
  grid-column: auto;
  gap: 1rem;
  margin: 1rem 0;
}

.card-warp h4{
  margin-bottom: 10px;
}

.card{
  padding: 1rem;
  border-radius: 8px;
  background: var(--main-color-4);
}

.menu-img img{
  width: 100px;
  height: 100px;
  border-radius: 6px;
  object-fit: cover;
}

.text{
  font-size: .6rem;
  color: var(--main-color-1);
}

.small{
  font-size: .7rem;
}

.add{
  border: none;
  padding: .3rem 1rem;
  color: white;
  border-radius: 5px;
  background: var(--main-color-1);
  cursor: pointer;
  transition: 200ms all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.add:hover{
  transform: scale(1.1);
}

.menu-desc{
  width: 160px;
}

.menu-desc p{
  margin-bottom: 20px;
}

.btn{
  display: flex;
  padding: .8rem 0;
  font-weight: 600;
  color: white;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
  width: 100%;
  background: var(--main-color-1);
  font-family: 'Poppins', sans-serif;
  margin-bottom: 1rem;
}

/* ORDER STYLING */
table{
  width: 100%;
  border-collapse: collapse;
  margin: .7rem 0 1rem 0;
}

td{
  padding: 10px;
  background: var(--main-color-4);
  border: 1px solid white;
}

.table-head th{
  text-align: center;
  font-weight: 500;
  padding: .5rem 0;
  border: 1px solid white;
  font-size: .8rem;
  color: white;
  background: var(--main-color-1);
}

.order .container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.total{
  text-align: center;
  margin-top: 1rem;
  padding: 2rem 0;
  border-radius: 8px;
  background: var(--main-color-4);
}

.form-order input[type='text']{
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--main-color-1);
}

.form-order input[type='text']::placeholder{
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.payment{
  padding: .8rem 1rem;
  border-radius: 8px;
  background: var(--main-color-4);
  margin-bottom: .8rem;
}

.payment i{
  font-size: 4rem;
  color: var(--main-color-1);
}

.payment h1{
  margin-top: 1rem;
  font-weight: 600;
  font-size: .8rem;
  color: var(--main-color-1);
}

.payment label{
  font-weight: 600;
  font-size: .8rem;
  color: var(--main-color-1);
  margin-left: .6rem;
}

.saldoPay p{
  color: var(--main-color-1);
  font-size: .7rem;
  text-align: right;
}

#overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.253);
  display: none;
}

.modal{
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 350px;
  padding: 1rem;
  border-radius: 6px;
  background: #ffffff;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: none;
  animation: slide .3s ease-in-out;
}

@keyframes slide {
  0%{
    top: -200px;
  }
  100%{
    top: 3%;
  }
}

footer{
  text-align: center;
  margin-bottom: 2rem;
  font-size: .8rem;
}